div 
    =form_with model: @division do |form| 

        =form.label "Name"
        =form.text_field :name 

        br

        =form.label "Employees in division"
        br
        =form.collection_check_boxes :user_ids, @employees, :id, :name_with_initial do |x|
            =x.check_box
            =x.label
            br
        
        =form.submit