div 
    =form_with model: @project do |form| 

        =form.label "Name of Project"
        =form.text_field :title  

        br

        =form.label "Employees on project"
        br
        =form.collection_check_boxes :user_id, @employees, :id, :name_with_initial do |x|
            =x.check_box
            =x.label
            br
        
        =form.submit